.album-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.album-page img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.album-page h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.album-page p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.album-page h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.album-page ul {
    list-style-type: none;
    padding: 0;
}

.album-page li {
    font-size: 1rem;
    margin-bottom: 5px;
}

.buy-button.small {
    font-size: 0.8rem;   /* Tamaño de fuente reducido */
    padding: 6px 10px;   /* Menor padding */
    border-radius: 4px;  /* Opcional: radio de borde más pequeño */
  }
