.carrito-page {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carrito-page ul {
  list-style: none;
  padding: 0;
}

.carrito-page li {
  display: flex;
  align-items: center;
  margin-bottom: 40px; /* Incrementar el espacio entre elementos */
}

.carrito-page img {
  width: 200px !important;  /* Nuevo ancho, sobrescribe el estilo inline */
  height: 150px; /* Se conserva la altura original */
  border-radius: 8px; /* Bordes redondeados */
  margin-right: 10px !important; /* Nuevo margen derecho */
  display: block; /* Asegurar que la imagen se comporte como un bloque */
  background-color: #f0f0f0; /* Fondo gris claro para imágenes con transparencia */
}

/* Se reduce el tamaño del texto para una mejor visualización */
.carrito-page span {
  font-size: 1.5rem; /* Tamaño del precio de cada producto */
  font-weight: bold;
}

.carrito-page h2 {
  font-size: 1.5rem; /* Se ajusta para que el precio total tenga el mismo tamaño */
  margin-top: 20px;
}

.carrito-page h2 .total-label {
  font-size: 1.2rem; /* La palabra "Total:" se muestra un poco más pequeña */
  font-weight: normal;
}

.carrito-page button {
  background-color: #1da0c3;
  color: white;
  border: none;
  padding: 20px 30px; /* Aumentar el tamaño del botón */
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.5rem;
  transition: background-color 0.2s, transform 0.1s;
}

.carrito-page button:hover {
  background-color: #1788a3;
}

.carrito-page button:active {
  background-color: #0f6d82;
  transform: scale(0.95);
}